<!-- <ion-view view-title="Selfie Platform 2.0">
  <ion-content class="padding">
    <div class="row">
      <p><span ng-if="fotog"><img ng-src="{{fotog}}"></span></p>
      <button ng-click="takePhoto()">FAI FOTO</button>
      <br><span ng-if="msg">{{msg}}</span><br>
      <button ng-click="delete('bitsabenba55')">CANCELLA LE FOTO</button>
      <br><br>
      <br>
    </div>
  </div>
  <div class="row">
    <ul>
      <li ng-repeat="photo in photos"><img ng-src="{{photo}}" width="20%" height="20%"></li>
    </ul>
  </div>
  </ion-content>
</ion-view> -->
<ion-view class="colora" view-title="   PUSH THE BUTTON">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" on-hold="openPopover($event)" class="button button-icon icon ion-ios-gear-outline"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
      <button class="logo" ng-click="start()">
        <img src="img/PushTheFuckingButton.png">
      </button>
  </ion-content>
</ion-view>
