<div class="container" style="background-image: url('../img/logo.png');background-repeat: no-repeat; background-position: left;">

      <form class="form-signin">
        <h2 class="form-signin-heading">Accedi all'ACP</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" value="admin" placeholder="Username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="pwd" placeholder="Password" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login(pwd)">Entra</button>
      </form>
      <br><br><br><br><br><br>
    </div>
